.wrapped {
  border: 1px solid black;
  background-color: rgb(233, 221, 253);
  padding: 10rem;
  width: 100%;
  section {
    border-top: 1px solid rgb(185, 183, 183);
    border-bottom: 1px solid rgb(185, 185, 185);
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    text-align: left;
    padding: 2rem;
    & > div {
      margin: 0 2rem 0 0.3rem;
    }
    .ft-socials {
      ul {
        padding: 0;
        margin: 2px;
        li {
          display: inline;
          margin: 1rem;
          list-style: none;
          color: rgb(188, 153, 245);
          cursor: pointer;
          font-size: 25px;
        }
      }
    }
  }
  p {
    text-align: center;
    color: rgb(152, 112, 218);
    font-size: 1.2rem;
    text-align: left;
  }
  .ft-text {
    margin-top: 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 1020px) {
  .wrapped {
    width: 100vw;
    section {
      // display: none;
    }
  }
}
